<!DOCTYPE html>
<html>
  <head>
    <title>RateMyLabPartners</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

 	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>
  </head>
  <body ng-app="rateMyLabPartners">
  	<!--
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    -->

    <div>
      <h1>Rate My Lab Partners</h1>
    </div>

    <!-- Specify where to render the current AngularJS template -->
    <ui-view></ui-view>

    <script type="text/ng-template" id="/home.html">
    	<p>Template: home.html</p>

      <p>Go to <a href="/#/register">registration</a></p>

      <!--
  		<div ng-hide="isLoggedIn()">
  			<p>You are not logged in.</p>
  		</div>
      -->
    </script> <!-- home.html -->



    <script type="text/ng-template" id="/register.html">
      <div ng-show="error">
        <span>{{ error.message }}</span>
      </div>

      <form ng-submit="register()">
        <h3>Register</h3>

        <input type="text" placeholder="Username"
          ng-model="user.username" />
        <input type="password" placeholder="Password"
          ng-model="user.password" />
        <button type="submit">Register</button>
      </form>

      <!--
      <p>Template: register.html</p>
      <p>{{ blah }}</p>

      <p>Go <a href="/#/home">home</a></p>
      -->
    </script> <!-- register.html -->



    <script type="text/ng-template" id="/login.html">
      <div ng-show="error">
        <span>{{ error.message }}</span>
      </div>

      <form ng-submit="logIn()">
        <h3>Log In</h3>

        <input type="text" placeholder="Username"
          ng-model="user.username" />
        <input type="password" placeholder="Password"
          ng-model="user.password" />
        <button type="submit">Log In</button>
      </form>
    </script> <!-- login.html -->

    <!--
    <form action="/test" method="post">
    	<input type="text" name="info" />
    </form>
    -->
  </body>
</html>
