<!DOCTYPE html>
<html>
  <head lang="en">

    <title>RateMyLabPartners</title>

    <meta charset="utf-8">
    <meta name="viewport"
      content="width=device-width, initial-scale=1">

    <!-- Bootstrap's CSS part -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Bootstrap's JS part -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

    <!-- My own included files -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/angularApp.js"></script>
  </head>
  <body ng-app="rateMyLabPartners" ng-cloak>

    <!--
    <div>
      <h1>Rate My Lab Partners</h1>
    </div>
    -->

    <!-- Navigation bar -->
    <nav class="navbar navbar-default pull-right"
      ng-controller="NavCtrl">
      <ul class="nav navbar-nav">
        <!-- THe navbar if user is logged in -->
        <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
        <li ng-show="isLoggedIn()">
          <a href="" ng-click="logOut()">Log Out</a></li>

        <!-- The navbar if user is logged out -->
        <!-- <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/register">Register
          </a></li> -->
      </ul>
    </nav>

    <!-- Specify where to render the current AngularJS template -->
    <ui-view></ui-view>




    <!--
    *****************************************************
    *** template: home.html
    *****************************************************
    -->

    <script type="text/ng-template" id="/home.html">

      <div id="login-form">
        <div ng-show="errorLogin">
          <span>{{ errorLogin.message }}</span>
        </div>
        <form ng-submit="logIn()">
          <h3>Log In</h3>

          <input type="text" placeholder="Username"
            ng-model="returningUser.username" />
          <input type="password" placeholder="Password"
            ng-model="returningUser.password" />
          <button type="submit" class="btn btn-primary">Log In</button>
        </form>
      </div> <!-- #login-form -->


      <div id="registration-form">
        <div ng-show="errorRegistration">
          <span>{{ errorRegistration.message }}</span>
        </div>

        <form ng-submit="register()">
          <h3>Register</h3>

          <input type="text" placeholder="Username"
            ng-model="newUser.username" />
          <input type="password" placeholder="Password"
            ng-model="newUser.password" />
          <button type="submit" class="btn btn-primary">Register</button>
        </form>  
      </div> <!-- #registration-form -->


      <div id="college-search-form">
        <div ng-show="errorCollegeSearch">
          <span>{{ errorCollegeSearch.message }}</span><br />
        </div>

        <!-- Search bar for user to search for college -->
        <form id="college-search-form" ng-submit="showCollegePage()">
          <span>Search for your college:</span>
          <input id="selected-college" ng-model="collegeName" list="colleges" />
          <datalist id="colleges">
            <option ng-repeat="college in colleges | orderBy:'name'"
              value="{{ college.name }}" id="{{ college.name }}"
              data-database-id="{{ college._id }}" />
          </datalist>

          <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </div> <!-- #college-search -->

      <br /><br />

      <!-- Form for adding a college -->
      <div id="add-college-form">
        <form ng-show="isLoggedIn()" ng-submit="addCollege()">
          <span>Don't see your college? Do something about it
            by submitting the form below.</span><br />
          <input type="text" placeholder="College Name"
            ng-model="name">

          <button type="submit" class="btn btn-primary">
            Add College</button>
        </form>
        <div ng-hide="isLoggedIn()">
          <span>Don't see your college? Log in so you can
            do something about it.</span>
        </div>
      </div> <!-- #add-college-form -->
    
    </script> <!-- home.html -->






    <!--
    *****************************************************
    *** template: register.html
    *****************************************************
    -->

    <script type="text/ng-template" id="/register.html">
      <div ng-show="error">
        <span>{{ error.message }}</span>
      </div>

      <form ng-submit="register()">
        <h3>Register</h3>

        <input type="text" placeholder="Username"
          ng-model="user.username" />
        <input type="password" placeholder="Password"
          ng-model="user.password" />
        <button type="submit">Register</button>
      </form>

      <br />
      <a href="/#/home">Back</a>
    </script> <!-- register.html -->



    <script type="text/ng-template" id="/login.html">
      <div ng-show="error">
        <span>{{ error.message }}</span>
      </div>

      <form ng-submit="logIn()">
        <h3>Log In</h3>

        <input type="text" placeholder="Username"
          ng-model="user.username" />
        <input type="password" placeholder="Password"
          ng-model="user.password" />
        <button type="submit">Log In</button>
      </form>

      <br />
      <a href="/#/home">Back</a>
    </script> <!-- login.html -->

    




    <!--
    *****************************************************
    *** template: colleges.html
    *****************************************************
    -->

    <script type="text/ng-template" id="/colleges.html">
      <p>You made it to colleges.html!!!</p>

      <p>College name: {{ college.name }}</p>

      <div ng-show="error">
        <span>{{ error.message }}</span><br />
      </div>

      <!-- Search bar for user to search for lab partner -->
      <form id="lab-partner-search-form" ng-submit="showLabPartnerPage()">
        <span>Search for your lab partner:</span>
        <input id="selected-partner" ng-model="partnerName"
          list="datalist-partners" />
        <datalist id="datalist-partners">
          <option ng-repeat="partner in college.labPartners | orderBy:'name'"
            value="{{ partner.firstName }}"
            id="{{ partner.firstName }}"
            data-database-id="{{ partner._id }}" />
        </datalist>

        <button type="submit" class="btn btn-primary">Search</button>
      </form>

      <br /><br />

      <!-- Form for adding a lab partner -->
      <div id="add-partner-form-error">
        <span></span>
      </div>
      <form ng-show="isLoggedIn()" ng-submit="addPartner()"
        id="add-partner-form">
        <span>Don't see your lab partner? Do a public service
          by submitting the form below.</span><br />

        <input type="text" placeholder="First Name"
          ng-model="firstName" />
        <input type="text" placeholder="Last Name"
          ng-model="lastName" />

        <button type="submit" class="btn btn-primary">
          Add Lab Partner</button>
      </form>
      <div ng-hide="isLoggedIn()">
        <span>Don't see your lab partner? Log in to write
          his/her first review.</span>
      </div>

    </script> <!-- colleges.html -->




    <!--
    *****************************************************
    *** template: lab-partners.html
    *****************************************************
    -->

    <script type="text/ng-template" id="/lab-partners.html">
      <p>You made it to lab-partners.html</p>

      <p>Lab partner name: {{ labPartner.firstName }}</p>
      <p>Average rating: {{ averageRating.toFixed(ratingsPrecision) }}</p>

      <!-- Form for adding a review -->
      <div>
        <div id="add-review-form-error">
          <span></span>
        </div>
        <div ng-show="error">
          <span>{{ error.message }}</span>
        </div>
        <form ng-show="isLoggedIn()" ng-submit="addReview()"
          id="add-review-form">
          <span>Had a bad time with this lab partner? Take revenge
            by leaving a review. Or leave a good review. Whatever.
            (Note that we advise that you only review lab partners
            that you have actually been partnered with.)
            </span><br />

          <!-- The form fields -->
          <input type="text" placeholder="Which Class?"
            ng-model="class" /><br />
          <input type="text" placeholder="Rating? (Between 1-5)"
            ng-model="rating" /><br />
          <textarea rows="8" cols="80"
            placeholder="Enter Justifications Here"
            ng-model="body"></textarea><br />

          <button type="submit" class="btn btn-primary">
            Add Review</button>
        </form>
        <div ng-hide="isLoggedIn()">
          <span>Have a score to settle? Log in to write a review
            for this lab partner.</span>
        </div>
      </div>

      <!-- Show already-existing reviews -->
      <div>
        <div ng-repeat="review in labPartner.reviews
          | orderBy:'-creationDate'">
          <br />
          <div>{{ review.class }}</div>
          <div>{{ review.rating.toFixed(ratingsPrecision) }}</div>
          <div>{{ review.body }}</div>
        </div>
      </div>

    </script> <!-- lab-partners.html -->

  </body>
</html>
