<!DOCTYPE html>
<html>
  <head>
    <title>RateMyLabPartners</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

 	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>
  </head>
  <body ng-app="rateMyLabPartners">
  	<!--
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    -->

    <div>
      <h1>Rate My Lab Partners</h1>
    </div>

    <!-- Specify where to render the current AngularJS template -->
    <ui-view></ui-view>

    <script type="text/ng-template" id="/home.html">
    	<p>Template: home.html</p>
  		<p>{{ teehee }}</p>

      <p>Go to <a href="/#/register">registration</a></p>

      <!--
  		<div ng-hide="isLoggedIn()">
  			<p>You are not logged in.</p>
  		</div>
      -->
    </script> <!-- home.html -->

    <script type="text/ng-template" id="/register.html">
      <p>Template: register.html</p>
      <p>{{ blah }}</p>

      <p>Go <a href="/#/home">home</a></p>
    </script>

    <!--
    <form action="/test" method="post">
    	<input type="text" name="info" />
    </form>
    -->
  </body>
</html>
