<!DOCTYPE html>
<html>
  <head>
    <title>RateMyLabPartners</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

 	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>
  </head>
  <body ng-app="rateMyLabPartners">
  	<!--
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    -->

    <!-- Specify where to render the current AngularJS template -->
    <ui-view></ui-view>

    <script type="text/ng-template" id="/home.html">
    	<div>
    		<h1>Rate My Lab Partners</h1>
		</div>

		<p>Template: home.html</p>
    </script> <!-- home.html -->

    <!--
    <form action="/test" method="post">
    	<input type="text" name="info" />
    </form>
    -->
  </body>
</html>
