body {
    padding: 0px; /*50px;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url("../images/background.png");
}

a {
    color: #00B7FF;
}

div.left-half-panel {
    width: 45%;
    float: left;
    /*background-color: white;*/
}

div.right-half-panel {
    width: 45%;
    float: right;
    /*background-color: white;*/
}

div.left-half-panel h3, div.right-half-panel h3 {
    border: 5px solid red;
}
